{% extends "::principal_layout.html.twig" %}

{% block body %}
<style type="text/css">
* {

font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	
	
}
.first {
	text-align: center;
	margin:auto;
}

.labelfirst {
	float:left;
	vertical-align: middle;
}

.margin{
	margin-left:300px; 
	}

 .styleBouton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:30px;
	line-height:20px;
	width:300px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.classname:active {
	position:relative;
	top:1px;
}
</style>
<br>
<br>
<br>
<center>
La commande du client a été enregistrée
<br>
<br>
<br>
<table BORDER="1">
   <thead> <!-- En-tête du tableau -->
       <tr>
           <th>Produit</th>
           <th>Quantité</th>
           <th>Prix Unitaire</th>
		   <th>Prix Total</th>
		   <th>Supprimer</th>
		   
       </tr>
   </thead>
  </table>
 <br>
 <br>
 <br>
<a href="menu.php">Menu</a>
<br>
<br>
<br>
<input type="button" name="retour" value="Précédent" class="styleBouton"> </input>
</center>


{% endblock %}

